/* Importing fonts here */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Outfit", sans-serif;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(212, 46%, 89%);
    height: 100vh;

    position: relative;
}

@media(max-width: 375px) {

}

.attribution {
    font-size: 11px; text-align: center;
    margin: 0 16px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {

    position: absolute;
    top: 20%;
    height: 499px;
    width: 320px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container img {

    width: auto;
    height: 280px;
    border-radius: 20px;
}

.text-area {

    text-align: center;
    margin-top: 24px;
}

.text-area p:nth-child(1) {

    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
}

.text-area p:nth-child(2) {

    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

